.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid black;
    border-radius: 10px;
    width: 49%;
    margin: 0 auto;
    margin-top: 10px;
    padding: 5px;
}

.text{
    font-size: 20px;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 10px;
}

.btn{
    margin-right: 10px;
}

@media screen and (max-width:500px) {
    .flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 3px solid black;
        border-radius: 10px;
        width: 100%;
        margin: 0 auto;
        margin-top: 10px;
        padding: 5px;
    } 
    .text{
        font-size: 1rem;
        font-weight: bold;
        font-family:Arial, Helvetica, sans-serif;
        text-align: center;
        margin: 0 auto;
    }
    .btn{
        width: 80px;
    }
    
}